body {
    background-color: #463d36;
    color: #463d36;
    font-family: sans-serif;
}

.container h2 {
    text-transform: uppercase;
    font-size: 28px;
    color: #a6192e;
    margin-bottom: 0;
}

.container h1 {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: lighter;
    margin-top: 0;
    margin-bottom: 28px;
}

p {
    font-size: 28px;
}

.container button {
    font-size: 24px;
    padding: 30px 40px;
    background-color: #463d36;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.container {
    margin: 100px auto;
    background-color: white;
    border-radius: 20px;
    width: 600px;
    padding: 40px;
}