h1 {
    font-size: 60px;
    font-family: sans-serif;
    text-align: center;
}

h2 {
    font-style: italic;
    font-size: 50px;
    color: #800080;
}

h3 {
    font-family: "Indie Flower", cursive;
    color: rgb(255, 192, 203);
    font-size: 35px;
}

p {
    font-weight: lighter;
    font-size: 40px;
    line-height: 80px;
    letter-spacing: 10px;
}