/* body {
    background-color: yellow;
} */

/* media < 1000px */

/* @media (max-width: 1000px) {
    body {
        background-color: blue;
    }
} */

/* media > 2600 */

/* @media (min-width: 2600px) {
    body {
        background-color: green;
    }
} */

/* @media (max-width: 800px) or (min-width: 2000px) {
    body {
        background-color: purple;
    }
} */

/* @media not (min-width: 2000px) {
    body {
        background-color: purple;
    }
} */

/* 
Give the h1 the following font sizes:
- for screen sizes below 800 pixels: 3rem
- for screen sizes between 800 and 1000 pixels: 5rem
- for screen sizes above 1000 pixels: 7rem
*/

h1 {
    font-size: 7rem;
}

@media (max-width: 800px) {
    h1 {
        font-size: 3rem;
    }
}

@media (min-width: 800px) and (max-width: 1000px) {
    h1 {
        font-size: 5rem;
    }
}