body {
    background-color: rgb(233, 223, 255);
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
    color: rgb(44, 44, 44);
}

h1 {
    color: rgb(83, 49, 156);
    margin: 32px 0 64px 0;
    text-transform: capitalize;
}

.container {
    background-color: white;
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 0 64px 64px 64px;
    position: relative;
    box-sizing: border-box;
}

.toptab {
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-weight: bold;
    color: rgb(200, 175, 255);
    margin: 0 0 32px 0;
    padding: 16px;
}

.toptab p {
    padding: 8px;
}

.toptab p:hover {
    color: rgb(83, 49, 156);
    cursor: pointer;
}

.toptab p.active {
    color: rgb(83, 49, 156);
    position: relative;
}

.line {
    height: 3px;
    width: 100%;
    background-color: rgb(231, 231, 231);
    position: absolute;
    top: 101px;
}

/* .underline {
    height: 4px;
    width: 100px;
    background-color: purple;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
} */

.toptab p.active::before {
    content: "";
    width: 200%;   
    height: 5px;
    background-color: rgb(83, 49, 156);
    position: absolute;
    bottom: -35px;
    left: -30px;
    z-index: 2;
    border-radius: 10px;
}

.toggle-wrapper {
    display: flex;
}

.toggle-wrapper img {
    height: 40px;
    margin: 0 16px;
}

.toggle {
    background-color: rgb(83, 49, 156);
    height: 32px;
    width: 140px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4px 0 16px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    box-sizing: border-box;
}

.toggle span:first-of-type {
    color: white;
}

.toggle span:last-of-type {
    background-color: white;
    color: rgb(83, 49, 156);
    border-radius: 10px;
    padding: 4px 16px;
    transition: 0.15s transform ease;
}

.toggle span:last-of-type:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.session-card {
    background-color: rgb(250, 247,255);
    text-align: center;
    padding: 32px;
    width: 50%;
    text-transform: uppercase;
    margin: 18px 0;
    border-radius: 10px;
    box-shadow: 0px 3px 8px 1px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

.session-card p {
    color: rgb(44, 44, 44);
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 0;
}

.session-card .session-number {
    color: rgb(83, 49, 156);
    font-size: 52px;
    margin: 0;
}

.description {
    line-height: 32px;
    margin: 16px 0 32px 0;
}
.slider {
    width: 100%;
    position: relative;
    margin-bottom: 16px;
}

.slider .bar {
    width: 100%;
    height: 16px;
    background-color: rgb(248, 248, 248);
    border: 1px solid rgb(210, 210, 210);
    border-radius: 20px;

}

.slider .progress {
    width: 31%;
    height: 18px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(53, 10, 74, 1) 36%,
        rgba(83, 49, 156, 1) 100%
    );
}

.slider .point {
    height: 24px;
    width: 24px;
    background-color: rgb(83, 49, 156);
    border-radius: 50%;
    position: absolute;
    top: -5px;
    left: 29%;
    border: 1px solid white;
    transition: 0.15s transform ease;
}

.slider .point:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.slider .scale {
    width: 100%;
}

.slider .scale ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    font-weight: bold;
    color: rgb(166, 166, 166);
}

.card-wrapper {
    display: flex;
}

.card {
    background-color: rgb(250, 247,255);
    border-radius: 10px;
    margin: 16px;
    padding: 16px 32px;
    box-shadow: 0px 3px 11px 1px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-weight: bold;
    color: rgb(83, 49, 156);
    transition: 1.15s transform ease;
    position: relative;
}

.card:hover {
    transform: translateY(-8px);
}
.card .price {
    font-size: 32px;
    color: rgb(44, 44, 44);
}

.card .top-section p {
    margin: 4px 0;
}

.card .top-section {
    text-transform: uppercase;
    padding: 8px;
}

.card hr {
    width: 30%;
    border: 1px solid rgb(210, 210, 210);
    border-radius: 2px;
}

.card button {
    border: none;
    color: white;
    background-color: rgba(83, 49, 156);
    padding: 16px;
    border-radius: 10px;
    transition: 1.15s transform ease;
    font-weight: bold;
    margin: 8px 0;
}

.card button:hover {
    transform: scale(1.15);
    cursor: pointer;
}

.card .save {
    color: white;
    background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(53, 10, 74, 1) 36%,
        rgba(83, 49, 156, 1) 100%
    );
    width: 100%;
    position: absolute;
    top: -24px;
    left: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

@media only screen and (max-width: 750px) {
    .card {
        width: 100%;
    }
    .card-wrapper {
        flex-wrap: wrap-reverse;
    }
    .session-card {
        width: 80%;
    }
}

@media only screen and (max-width: 600px) {
    body {
        padding: 16px;
    }
    h1 {
        margin: 0 0 16px 0;
    }
    .container {
        padding: 0 16px;
    }
    .session-card {
        width: 100%;
    }
    .toggle-wrapper {
        width: 90%;
        justify-content: space-around;
    }
}


@media only screen and (max-width: 400px) {
    .toptab {
        justify-content: space-between;
        width: 350px;
        font-weight: 200;
    }
}