body {
    font-family: 'Space Mono', monospace;
    background-color: aliceblue;
}

h1 {
    font-size: 100px;
    line-height: 1;
    font-weight: 400;
}

h2 {
    font-size: 50px;
    
}

h3 {
    font-size: 25px;
}

div {
    width: 55%;
    margin-left: 100px;
    margin-top: 300px;
}

span {
    text-shadow: -6.25px 0 #0c2ffb, -12.5px 0 #2cfcfd, 6.25px 0 #fb203b, 12.5px 0 #f2fc4b; ;
}

p {
    font-style: oblique;
    text-align: justify;
}
/* 
#same {
    border: 2px solid red;
} */

@media only screen and (max-width: 1700px) {
    div {
        width: 75%;
    }
}

@media only screen and (max-width: 1200px) {
    div {
        width: 85%;
    }
    h1 {
        font-size: 70px;
    }
}

@media only screen and (max-width: 800px) {
    div {
        width: 90%;
        margin: 100 auto;
    }
    span {
    text-shadow: -3.25px 0 #0c2ffb, -6.5px 0 #2cfcfd, 3.25px 0 #fb203b, 6.5px 0 #f2fc4b; ;
    }
}

@media only screen and (max-width: 650px) {
    h1 {
        font-size: 60px;
    }
    h2 {
        font-size: 40px;
    }
    span {
    text-shadow: -3.25px 0 #0c2ffb, -6.5px 0 #2cfcfd, 3.25px 0 #fb203b, 6.5px 0 #f2fc4b; ;
    }
}