body {
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  background-color: rgba(255, 192, 203, 0.8);
  margin: 0;
  padding: 0;
  height: 100px;
  position: fixed;
  width: 100%;
}

.message-content {
  background: radial-gradient(#0288d1, #01579b);
  height: 100vh;
  font-family: "DM Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;

}

.btn {
  color: white;
  text-decoration: none;
  border: 2px solid white;
  padding: 15px 30px;
  border-radius: 4px;
  font-family: 1.2rem;
  /* margin-right: 0; */
  position: relative;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
} 

.badge {
  background-color: #4caf50;
  border: 2px solid white;
  padding: 5px 10px;
  border-radius: 50%;
  /* position: relative;
  top: -30px;
  left: 30px; */
  position: absolute;
  top: -16px;
  right: -16px;
}

.letter {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "DM Sans", sans-serif;
  font-size: 1.2rem;
}

.letter-content {
  border: 2px solid white;
  padding: 10px 40px;
  color: white;
  font-weight: 150;
}

.box-1 {
  position: relative;
  z-index: 0;
  top: 200px;
  left: 0;
  background-color: rgb(49, 49, 3);
}

.box-2 {
  position: relative;
  z-index: 1;
  top: 200px;
  left: -20px;
  background-color: green;
}

.box-3{
  position: relative;
  z-index: 2;
  top: 200px;
  left: -40px;
  background-color: red;
}

.box-4 {
  position: relative;
  z-index: 3;
  top: 200px;
  left: -60px;
  background-color: blue;
}

.box-5 {
  position: relative;
  z-index: 4;
  top: 200px;
  left: -80px;
  background-color: gray;
}

.next-page {
  background: radial-gradient(#9c9a9a, #bcbdb7);
  height: 100vh;
  font-family: "DM Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  
}