.container-1 {
    width: 100%;
    height: 100vh;
}


.box-frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 32px;
    font-weight: bold;
}

.box {
    width: 150px;
    height: 150px;
    background-color: orangered;
    color: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
    animation-name: spin;
    animation-duration: 6s;
    animation-iteration-count: 10;
    animation-direction: reverse;
}


.box-2 {
    width: 150px;
    height: 150px;
    background-color: blueviolet;
    color: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
    margin-bottom: 32px;
    animation-name: bounce;
    animation-duration: 6s;
    animation-iteration-count: 10;
    animation-direction: reverse;
}

/* animation: name duration timing-function delay iteration-count direction fill-mode; */

.box-3 {
    width: 150px;
    height: 150px;
    background-color: orange;
    color: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
    border-radius: 50%;
    animation-name: move;
    animation-duration: 3s;
    animation-iteration-count: 10;
    animation-delay: 2s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}


@keyframes move {
    0% {
        transform: translateX(0);
        background-color: purple;
    }
    20% {
        transform: translateX(500px);
    }
    60% {
        transform: translateX(250px);
        background-color: magenta;
    }
    100% {
        transform: translateX(0);
        background-color: green;
    }
}

@keyframes bounce {
    0% {

    }
    6% {
        transform: translateY(0px);
    }
    7% {
        transform: translateY(-6px);
    }
    9% {
        transform: translateY(0px);
    }
    10% {
        transform: translateY(-1px);
    }
    11% {
        transform: translateY(0px);
    }
    100% {

    }
}

/* @keyframes colorchange {
    from {
        background-color: cyan;
    }
    to {
        background-color: purple;
    }
} */

@keyframes spin {
    25% {
        transform: rotate(0turn);
    }
    50% {
        transform: rotate(1turn);
    }
    75% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
    from {
        background-color: cyan;
    }
    to {
        background-color: purple;
    }
    
}

/* ===================================================================================================== */
/* ===================================================================================================== */

.container-2{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spin-circle-1 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 12px solid #cfd8dc;
    border-top-color: #3f51b5;
    margin: 16px;
    animation: 1s spinCircle infinite linear;
}

.spin-circle-2 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 12px solid #cfd8dc;
    border-top-color: #3f51b5;
    margin: 16px;
    animation: 1s spinCircle infinite ease-in;
}

.spin-circle-3 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 12px solid #cfd8dc;
    border-top-color: #3f51b5;
    margin: 16px;
    animation: 1s spinCircle infinite ease-in-out;
}

.spin-circle-4 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 12px solid #cfd8dc;
    border-top-color: #3f51b5;
    margin: 16px;
    animation: 1s spinCircle infinite ease-out;
}

.sub p {
    text-align: center;
    color: white;
    font-weight: bold;
}

@keyframes spinCircle {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* ===================================================================================================== */
/* ===================================================================================================== */

.container-3 {
    width: 100%;
    height: 100vh;
    background-color: #8c8d8f; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader span {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #d7d7d9;
    border-radius: 50%;
    margin: 0 10px;
}

.loader span:nth-child(1) {
    animation: 1s jump infinite ease-in-out;
}

.loader span:nth-child(2) {
    animation: 1s 0.333s jump infinite ease-in-out;
}

.loader span:nth-child(3) {
    animation: 1s 0.666s jump infinite ease-in-out;
}


@keyframes jump {
    0%, 75% {
        transform: translateY(0) scale(1);
    }
    50% {
        transform: translateY(-5px) scale(1.2);
    }
}

/* ===================================================================================================== */
/* ===================================================================================================== */

.container-4 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fill-box {
    background-color: tomato;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    animation: 2s fill-move ease-in-out;
    animation-fill-mode: backwards;
    animation-delay: 3s;
}

@keyframes fill-move {
    0% {
        transform: translateX(0);
        background-color: palevioletred;
    }
    100% {
        transform: translateX(300px);
        background-color: olive;
    }
}