body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(cyan, purple);
}

.container {
    display: flex;
    justify-content: center;
}

.card {
    background-color: white;
    border-radius: 5px;
    margin: 0 30px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.card footer {
    background-color: slateblue;
    padding: 15px;
    color: white;
    text-align: center;
    margin-top: auto;
}