body {
    margin: 0;
    padding: 0;
    font-family: "Forum", serif;
}
.hero {
    background-color: #f08e80;
    min-height: 90vh;
    color: white;
    display: inline-block;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 24px 32px;
}

.navbar .links a {
    color: white;
    text-decoration: none;
    margin: 16px;
    font-size: 1.2rem;
}

.navbar .links a:hover {
    text-decoration: underline;
}

.navbar p {
    font-size: 2rem;
    font-weight: bold;
    margin: 0px;
}

.navbar .contact {
    background-color: white;
    color: #f08e80;
    text-decoration: none;
    padding: 16px 24px;
}

.navbar .contact:hover {
    opacity: 0.8;
}

.hero-content {
    padding: 0 15%;
}

.tagline {
    font-size: 4.5rem;
    color: white;
    letter-spacing: 2px;
}

.two-column-section {
    font-size: 2rem;

}

.two-column-section > p {
    width: 50%;
    box-sizing: border-box;
    float: left;
}

.two-column-section .skills {
    width: 50%;
    box-sizing: border-box;
    float: left;
    list-style: none;
    padding: 0;
}

.two-column-section .skills li {
    width: 50%;
    float: left;
    font-size: 1.25rem;
    margin: 8px 0;
}

.blog-section {
    background-color: white;
    padding: 64px 0; /*top and botton padding*/
}

.blog-content {
    padding: 0 15%; /*left and right padding*/
}

.two-column-section .blog-post {
    width: 50%;
    float: left;
    margin-top: 24px;
}

.blog-title {
    font-size: 1.5rem;
    font-weight: 300;
}

.blog-text {
    font-size: 1rem;
}

.blog-date {
    font-size: 0.9rem;
    color: grey;
    margin-bottom: 32px;
}

.blog-post p {
    margin: 8px 0;
}

.event-section {
    background-color: #fdf0e6;
    padding: 64px 0; /*top and botton padding*/
    display: inline-block;
    width: 100%;
}

.event-content {
    padding: 0 15%;
}

.two-column-section .event-card {
    width: 50%;
    float: left;
    margin-top: 24px;
}

.event-card p {
    margin: 8px 0;
}


.event-title {
    font-size: 1.5rem;
    font-weight: 300;
}

.event-location {
    font-size: 1rem;
}

.event-date {
    font-size: 0.9rem;
    color: gray;
    margin-bottom: 32px;
}

footer {
    background-color: black;
    color: white;
    padding: 60px;
}

.footer-content {
    text-align: center;
}

footer img {
    width: 2rem;
    height: 2rem;
    margin: 0 8px;
}

@media only screen and (max-width: 1000px) {
    .hero-content, 
    .blog-content, 
    .event-content {
        padding: 0 5%;
    }
}

@media only screen and (max-width: 750px) {
    .tagline {
        font-size: 3.5rem;
    }
    .two-column-section > p {
        width: 100%;
    }
    .two-column-section .skills {
        width: 100%;
    }
    .two-column-section .blog-post {
        width: 100%;
    }
    .section-heading {
        font-weight: bold;
        font-size: 2.5rem;
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 500px) {
    .tagline {
        font-size: 2.5rem;
        margin: 0;
    }
    .links {
        display: none;
    }
}