body {
    font-family: Cormorant, serif;
}

.header-navbar {
    margin: 32px;
}

.header-h1 {
    display: inline-block;
    font-weight: 300;
    margin: 0 32px 0 0;
}

.header-nav {
    display: inline-block;
}

.header-nav li {
    display: inline-block;
}

.header-nav a {
    color: black;
    font-size: 20px;
    text-decoration: none;
    margin: 0 8px;
}

.header-nav ul {
    padding: 0;
}

a.active {
    border-bottom: 1px solid black;
}

.gallery {
    padding: 16px;
}

.card img.content-img {
    width: 100%;
    height: 400px;
    object-fit: cover; /*need to test diff value */
}

.card img.content-img:hover {
    opacity: 0.9;
}

.card h2 {
    margin: 8px 0 16px 0;
    font-weight: 300;
}

.card {
    display: inline-block;
    box-sizing: border-box;
    width: 49.75%;
    padding: 16px;
}

.about {
    width: 40%;
    min-width: 600px;
    margin: 100px 0 100px 200px;
}

.about h3 {
    font-size: 40px;
    font-weight: 300;
}

.about h3.special {
    border-bottom: 1px solid black;
    display: inline-block;
    padding-bottom: 8px;
    margin-top: 0;
}

.contact div {
    margin: 100px 0 100px 200px;
}

.contact p {
    margin: 0;
    font-size: 20px;
}

@media only screen and (max-width: 1000px) {
    .card {
        width: 100%;
    }
    .about {
        margin: 100px 0 100px 100px;

    }
    .contact div {
    margin: 100px 0 100px 100px;
    }
}

@media only screen and (max-width: 700px) {
    .card {
        padding: 0;
    }
    .gallery {
        padding: 8px;
    }
    .about {
        margin: 100px auto 100px auto;
        min-width: 450px;
    }
    .contact div {
    margin: 100px 0 100px 0px;
    }
}