/* Select the paragraphs that come immediately after a <hr> element and make them red */
hr + p {
    color: red;
}

/* Select the paragraphs that are siblings to h2 elements and give them a 20 pixel font size*/
h2 ~ p {
    font-size: 20px;
}

/* Select the link inside of the footer and give it a magenta color WHEN a user hovers over it */
footer a:hover {
    color: magenta;
}

/* Select any checked checkboxes and give them a box shadow of '0 0 0 3px orange' */
input[type="checkbox"]:checked {
    box-shadow: 0 0 0 3px orange;
}


/* Select every other li element (2nd, 4th, 6th, etc) inside of the ul with the class 'blah' and give them a magenta background */
/* ul.blah li:nth-of-type(2) {
    background-color: rgba(255, 0, 255, 0.2);
} */

ul.blah li:nth-of-type(2n) {
    background-color: rgba(255, 0, 255, 0.2);
}


/* Select the first letter of each paragraph and give them a color of blue and a font-size of 30 pixels */
/* p:first-of-type:first-letter {
    color: blue;
    font-size: 30px;
} */

p::first-letter {
    color: blue;
    font-size: 30px;
}

h1 {
    font-size: 3em;
    color: red;
}

h1 {
    font-size: 1em;
    color: blue;
}

h2 {
    font-size: 2em;
}
