body {
    font-family: "Mukta", sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    letter-spacing: 0.5px;
}

.content {
    max-width: 900px;
    margin: 0 auto;
    padding: 32px;
}

.content h3 {
    text-transform: capitalize;
}

.hero {
    background-color: #863ae8;
    height: 100vh;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero h1, .hero p {
    width: 75%;
    max-width: 900px;
    margin: 16px 0;
}
.hero hr {
    width: 50%;
    margin: 32px 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Bitter, serif;
    font-weight: 500;
}

h1 {
    font-size: 80px;
    font-weight: 400;
    letter-spacing: -1.5px;
    margin: 0;
}

h2 {
    font-size: 50px;
    letter-spacing: -0.5px;
}

h3 {
    font-size: 38px;
    letter-spacing: 0px;
}

h4 {
    font-size: 30px;
    letter-spacing: 0.25px;
}

h5 {
    font-size: 24px;
    letter-spacing: 0.25px;
}

h6 {
    font-size: 20px;
    letter-spacing: 0.25px;
}

.info {
    font-family: Bitter, serif;
    text-align: center;
    letter-spacing: 1.5px;
    font-weight: bold;
    font-size: 14px;
}

.info span {
    color: #e95400;
}

.headline {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0px;
    margin: 40px 0;
    font-size: 18px;
}



.quote {
    font-size: 14px;
    font-style: italic;
    border-left: 2px solid #e95400;
    padding-left: 16px;
    margin: 32px 0 32px 32px;
}

.quote cite {
    display: block;
    margin-left: 20px;
    font-weight: bold;
}

code {
    color: #e95400;
    font-weight: bold;
}

footer {
    background-color: #863ae8;
}

footer ul.footer-link {
    list-style: none;
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
    text-align: center;
    padding: 28px 0;
}

footer ul.footer-link li {
    display: inline-block;
    margin: 0 20px;
}

footer ul.footer-link li a {
    text-decoration: none;
    color: white;
}

footer ul.footer-link li a:hover {
    text-decoration: underline;
}